@CHARSET "UTF-8";

 body {
    background-color: powderblue;
}
h1 {
    color: blue;
}
p {
    color: red;
}

input{
	color :black
}

formItem label {
    text-align:center;
    line-height:150%;
    font-size:.85em;
}